*.class
*.jar
./target
/target/
/sonar-project.properties
/SparQLine_Quamoco.csv
/SparQLine_Quamoco.udb
/tree-java.json
/tree-m-cs.json
/tree-m-java.json
/tree-s-cs.json
/tree-s-java.json
/tree.json
/.settings/
/.sonar/
/testdata/
/.classpath
/.project
/.Rhistory
/csharp.qm.bak
