*.class
*.jar
./target
/target/
/sonar-project.properties
/SparQLine_Quamoco.csv
/SparQLine_Quamoco.udb
/tree-java.json
/tree-m-cs.json
/tree-m-java.json
/tree-s-cs.json
/tree-s-java.json
/tree.json
/.settings/
/.sonar/
/testdata/
/.classpath
/.project
/.Rhistory
/csharp.qm.bak
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea/
*.iml

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
*.iml

